# Ignore all project JSON files inside projects folder
projects/*
!projects/scene1.json
# Ignore Python cache files
__pycache__/
*/__pycache__/

*.pdf
datasets
# Ignore generated script
assets/models/gen.py